div(
    id="fullImageCard"
    class="fixed top-0 left-0 right-0 w-screen max-w-screen h-screen max-h-screen bg-zinc-900/25 flex flex-row items-center justify-center"
    )
    div(class="flex flex-col max-w-[90vw] max-h-[90vh] p-2 bg-zinc-700 border-2 border-orange-600 rounded shadow")
        div(class="p-2 flex flex-row w-full justify-between text-4xl gap-10")
            h1 Image
            div(
                class="cursor-pointer text-red-500 border-zinc-200 border rounded px-2"
                hx-get="image/full/nofull"
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-target="#fullImageCard") X

        div(class="basis-1/4 p-2")
            img(
                alt="Failed to load image" 
                src=`images/${imgName}` 
                class="object-contain w-[80vw] h-[80vh] object-cover border-2 border-orange-300" 
                )