div(class="p-10 flex items-center justify-center")
    div(class="p-10 bg-zinc-700 border-orange-600 border-2 rounded shadow flex flex-col justify-center items-start gap-4 text-xl w-full h-full")
        h1.text-3xl Images
        div(class="w-full pt-4 pb-4 border-t-2 border-b-2 border-zinc-600")
            div(class="flex flex-row justify-between")
                div(class="flex flex-col justify-between"
                    id="pageChanger"
                    hx-trigger="change"
                    hx-get=`/image/images/${page}`
                    hx-target="#imageCards"
                    hx-swap="outerHTML")
                    p(id="pageDisplay") Page -1
                    div(class="flex flex-row gap-10")
                        p(class="cursor-pointer" 
                        id="prevPage") Prev
                        p(class="cursor-pointer"
                        id="nextPage") Next
                form(class="flex flex-row justify-left items-begin gap-8"
                    id="queryForm"
                )
                    input(
                        class="cursor-pointer"
                        type="submit" value="Go")
                    div(class="flex flex-col justify-between items-begin")
                        p Sort By
                        div(class="flex flex-row gap-6")
                            div(class="flex flex-col w-full justify-between")
                                label(for="sortBy") Field
                                label(for="sortDirection") Order
                            div(class="flex flex-col w-full justify-between")
                                select(id="sortBy" name="sortBy" class="text-black shrink")
                                    option(value="created") Date Taken
                                    option(value="uploaded") Date uploaded
                                    option(value="file_size") File Size
                                select(id="sortDirection" name="sortDirection" class="text-black")
                                    option(value="desc") Descending
                                    option(value="asc") Ascending
                    p Filter
                    div(class="flex flex-col justify-between items-begin")
                        p By Time Taken
                        div(class="flex flex-row gap-6")
                            div(class="flex flex-col w-full justify-between")
                                label(for="after") After
                                label(for="before") Before
                            div(class="flex flex-col w-full justify-between")
                                input(id="after" name="after" type="datetime-local" class="text-black w-full")
                                input(id="before" name="before" type="datetime-local" class="text-black w-full")

        div(id="imageCards" hx-get="/image/images/0" hx-trigger="load" hx-swap="outerHTML" class="bg-emerald-500 w-full h-full") Loading...

div(id="fullImageModal")

script.
    var page = 0;
    var qvalues = {
        sortBy: "created",
        sortDirection: "asc",
    };
    console.log("Begin search script")
    console.log(`Page: ${page}`)
    htmx.find("#pageDisplay").innerHTML = `Page ${Number(page)+1}`;
    htmx.on("#prevPage", "click", function(event) {
        page--;
        if(page < 0) page = 0;
        htmx.find("#pageDisplay").innerHTML = `Page ${Number(page)+1}`;
        htmx.ajax('GET', `/image/images/${Number(page)}`, {
            target:'#imageCards', 
            swap: 'outerHTML',
            values: qvalues
        });
    })
    htmx.on("#nextPage", "click", function(event) {
        page++;
        htmx.find("#pageDisplay").innerHTML = `Page ${Number(page)+1}`;
        htmx.ajax('GET', `/image/images/${Number(page)}`, {
            target:'#imageCards', 
            swap: 'outerHTML',
            values: qvalues
        });
    })
    htmx.on("#queryForm", "submit", function(event) {
        event.preventDefault();

        qvalues.sortBy = event.target.sortBy.value;
        qvalues.sortDirection = event.target.sortDirection.value;

        htmx.ajax('GET', `/image/images/${Number(page)}`, {
            target:'#imageCards', swap: 'outerHTML', 
            values: qvalues
        });
    })