div(class="p-10 flex items-center justify-center")
    div(class="p-10 bg-zinc-700 border-orange-600 border-2 rounded shadow flex flex-col justify-center items-start gap-4 text-xl w-full h-full")
        div(class="w-full pb-4 border-b-2 border-zinc-600")
            form(class="flex flex-row justify-left gap-4" id="queryForm")
                fieldset(class="p-4 border border-orange-400 flex flex-col gap-4")
                    legend(class="px-2 text-orange-500" id="pageDisplay") Page
                    div(class="flex flex-row gap-4")
                        button(class="bg-orange-500 px-4 py-1 rounded hover:bg-orange-400 transition-colors font-bold" id="prevPage" value="Prev") Prev
                        button(class="bg-orange-500 px-4 py-1 rounded hover:bg-orange-400 transition-colors font-bold" id="nextPage" value="Next") Next
                    input(type="number" id="pageInput" class="w-full bg-orange-100 border-orange-200 text-black" value="1" min="1" size="4")
                fieldset(class="p-4 border border-orange-400")
                    legend(class="px-2 text-orange-500") Options
                    div(class="flex flex-row justify-center items-center gap-4")
                        input(type="checkbox" id="showDuplicates" class="")
                        p Show Duplicates
                fieldset(class="p-4 border border-orange-400")
                    legend(class="px-2 text-orange-500") Sort
                    table(class="border-seperate border-spacing-2" cellspacing="10")
                        tbody
                            tr
                                td(class="pr-4")
                                    label(for="sortBy") By
                                td
                                    select(id="sortBy" name="sortBy" class="text-black w-full")
                                        option(value="created") Date Taken
                                        option(value="uploaded") Date uploaded
                                        option(value="file_size") File Size
                            tr
                                td(class="pr-4")
                                    label(for="sortDirection") Direction
                                td
                                    select(id="sortDirection" name="sortDirection" class="text-black w-full")
                                        option(value="desc") Descending
                                        option(value="asc") Ascending
                fieldset(class="p-4 border border-orange-400")
                    legend(class="px-2 text-orange-500") Filter
                    div Hi
                    div Hi2

        div(id="imageCards" hx-get="image/images/0" hx-trigger="load" class="flex flex-row items-stretch justify-between gap-4 w-full h-full flex-wrap") Loading...

div(id="fullImageModal")

script.
    var page = 0;
    var qvalues = {
        sortBy: "created",
        sortDirection: "desc",
        showDuplicates: "no",
    };
    console.log("Begin search script")
    console.log(`Page: ${page}`)
    htmx.find("#pageDisplay").innerHTML = `Page ${Number(page)+1}`;
    htmx.on("#pageInput", "keydown", function(event) {
        page = Number(event.target.value);
        reloadImages();
    })
    htmx.on("#prevPage", "click", function(event) {
        page--;
        if(page < 0) page = 0;
        htmx.find("#pageDisplay").innerHTML = `Page ${Number(page)+1}`;
        htmx.find("#pageInput").value = Number(page)+1;
        htmx.ajax('GET', `/image/images/${Number(page)}`, {
            target:'#imageCards', 
            swap: 'innerHTML',
            values: qvalues
        });
    })
    htmx.on("#nextPage", "click", function(event) {
        page++;
        htmx.find("#pageDisplay").innerHTML = `Page ${Number(page)+1}`;
        htmx.find("#pageInput").value = Number(page)+1;
        htmx.ajax('GET', `/image/images/${Number(page)}`, {
            target:'#imageCards', 
            swap: 'innerHTML',
            values: qvalues
        });
    })
    htmx.on("#sortBy", "change", function(event) {
        qvalues.sortBy = event.target.value;
        reloadImages();
    })
    htmx.on("#sortDirection", "change", function(event) {
        qvalues.sortDirection = event.target.value;
        reloadImages();
    })
    htmx.on("#queryForm", "submit", function(event) {
        event.preventDefault();

        qvalues.sortBy = event.target.sortBy.value;
        qvalues.sortDirection = event.target.sortDirection.value;

        reloadImages();
    })
    htmx.on("#showDuplicates", "change", function(event) {
        if(event.target.checked) qvalues.showDuplicates = "yes";
        else qvalues.showDuplicates = "no";
        reloadImages();
    })

    function reloadImages() {
        htmx.ajax('GET', `/image/images/${Number(page)}`, {
            target:'#imageCards', swap: 'innerHTML', 
            values: qvalues
        });
    }